*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html {
	scroll-behavior: smooth;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

body {
    background-color: blanchedalmond;
    font-family: Verdana;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.header {
    background-color: rgb(190 168 144);
    padding: 20px 0;
}

.header__container {
    overflow: hidden;
}

.header__photo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
}

.header__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.header__content {
    padding: 80px 16px 0;
    margin-left: 250px;
}

.header__title {
    font-size: 32px;
    font-weight: normal;
    text-align: center;
}

.header__subtitle {
    margin-top: 32px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

.navigation {
   margin-bottom: 16px;
}

.navigation__list {
    list-style-type: none;
    font-size: 0;
}

.navigation__list-item {
    font-size: 16px;
    display: inline-block;
    width: calc(100%/6);
    text-align: center;
    padding: 12px 0;
}

.navigation__link {
    text-decoration: none;
    color: black; 
}

.section {
    margin-bottom: 32px;
}

.section__title {
    margin-bottom: 16px;
}

.section__content {
    line-height: 1.5;
}

.section__list {
    list-style-type: none;
}

.section__list-item {
    line-height: 1.5;
}

.section__link {
    text-decoration: none;
    color: #6d00d3;
}

.section__code {
    background-color: rgb(255, 249, 213);
    border: 1px dashed rgb(108, 107, 107);
    display: block;
    padding: 20px;
    font-size: 16px;
    white-space: pre;
}

.section__nested-content {
    margin-bottom: 24px;
}

.section__subtitle {
    margin-bottom: 8px;
}
  
.footer {
    background-color: rgb(190 168 144);
    padding: 32px 0;
}

.footer__container {
    overflow: hidden;
}

.footer__photo {
    height: 72px;
    overflow: hidden;
    float: left;
}

.footer__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer__content {
    height: 72px;
    text-align: center;
}

.footer__social { 
    height: 72px;
    display: inline-block;
}

.footer__date {
    float: right;
    overflow: hidden;
    text-align: right;
    line-height: 72px;
}